html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header {
    background-color: aqua;
    font-size: 2em;
    font-family: 'Baloo Bhai', cursive;
    height: 50px;
    width: 100%;
}

.main-container {
    margin: 0px;
    position: absolute;
    padding: 0px;
    width: 100%;
}

.folder,
.file-all {
    float: left;
    height: 133px;
    margin: 10px 10px 10px 10px;
    padding: 0px;
    position: relative;
    width: 10%;
}

.folder-open {
    background: url(../res/img/folder-open.png) repeat 0 0;
    background-size: cover;
}

.folder-closed {
    background: url(../res/img/folder-closed.png) repeat 0 0;
    background-size: cover;
}

.file-new {
    background: url(../res/img/file.png) repeat 0 0;
    background-size: cover;
}

.file-audio {
    background: url(../res/img/audio-file.png) repeat 0 0;
    background-size: cover;
}

.file-video {
    background: url(../res/img/video-file.png) repeat 0 0;
    background-size: cover;
}

.file-image {
    background: url(../res/img/image-file.png) repeat 0 0;
    background-size: cover;
}

.file-text {
    background: url(../res/img/text-file.png) repeat 0 0;
    background-size: cover;
}

.file-pdf {
    background: url(../res/img/pdf-file.png) repeat 0 0;
    background-size: cover;
}

.file-docs {
    background: url(../res/img/docs-file.png) repeat 0 0;
    background-size: cover;
}

.file-sheet {
    background: url(../res/img/sheets-file.png) repeat 0 0;
    background-size: cover;
}

.file-unknown {
    background: url(../res/img/unknown-file.png) repeat 0 0;
    background-size: cover;
}

.file-ppt {
    background: url(../res/img/ppt-file.png) repeat 0 0;
    background-size: cover;
}

.selected-item {
    background-color: rgba(127, 255, 212, 0.4);
    border-radius: 5px;
}

.folder-name,
.file-name {
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
    left: 5px;
    position: absolute;
}

.selected-file-display {
    background-color: #555;
    border-radius: 2px;
    bottom: 2px;
    box-shadow: #000 1px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    left: 2px;
    max-height: 30px;
    max-width: 400px;
    opacity: 0.7;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    visibility: hidden;
}

.new-button {
    background: none;
    border: 0;
    bottom: 10px;
    box-shadow: none;
    clear: both;
    color: blue;
    font-size: 2.5em;
    position: fixed;
    right: 10px;
}

.create-new-popup {
    background-color: rgba(255,192,203,0.7);
    border-radius: 6px;
    bottom: 45px;
    cursor: pointer;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-left: -80px;
    padding: 8px 0;
    position: absolute;
    right: 5px;
    text-align: center;
    visibility: hidden;
    width: 160px;
    z-index: 1;
}

.create-new-popup::after {
    border-color: rgba(255,192,203,0.7) transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 80%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}